/*Modal*/

.modal{
  background-color: #FFFFFF;
  width: 60em;
  margin-top: 9em;
  margin-left: 11em;
  margin-right: 11em;
}

.title, .subtitle{
  display: inline-block;
}

.close{
  float:right;
  margin-left: 9.3em;
  font-size: 1.5em;
  color: #009B8E;
  vertical-align: top;
}

.title{
  font-size: 3.4em;
  color: #009B8E;
  vertical-align: top;
  margin-top: 0;
}

.subtitle{
  text-align: center;
  color: #4f4f4f;
  font-size: 1.1em;
  margin-left: 12em;
  line-height: 3;
}


input {
  width: 95%!important;
  padding-left: 0.4em !important;
  margin-left: 1em!important;
}

.fa-user, .fa-phone, .fa-at{
  color: #009B8E;
}

.fa-at{
  margin-right:0.27em;

}

.save{
  margin-left: 25.5em;
  margin-bottom:1em;
}

/* WEB */

nav{
  color: #FFFFFF;
  background-color: #F26C74;
  font-family: 'Helvetica', sans-serif;
}

.menu{
  display: inline-block;
  vertical-align: 2em;
  margin-left: 2em;
}

.botones{
  margin-left: 63em;
  display: inline-block;
}

/* Contenedor de Contactos */

.namebox, .fa-user-times{
  display: inline-block;
}

#contactbox{
  margin-top: 2em;
  margin-left: 10em;
  width: 64em;
  padding: 1.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delete{
  float:right;
  background-color: #F26C74;
  color: #FFFFFF;
}

.delete:focus {
  background-color: #d95f67;
}
